Import required libraries

In [2]:
#Import libraries
import pandas as pd
import re
import emoji

Import data into a pandas dataframe

In [4]:
#Import data into a pandas dataframe
tweet_data = pd.read_csv("Airline Sentiment\Tweets.csv")
tweet_data.head()

,airline_sentiment,sentiment_confidence,text
0,neutral,1.0000,@VirginAmerica What @dhepburn said.
1,positive,0.3486,@VirginAmerica plus you've added commercials t...
2,neutral,0.6837,@VirginAmerica I didn't today... Must mean I n...
3,negative,1.0000,@VirginAmerica it's really aggressive to blast...
4,negative,1.0000,@VirginAmerica and it's a really big bad thing...

Clean tweet data

In [5]:
#Clean tweet data

#Set all to lowercase
tweet_data["cleaned_text"]=tweet_data["text"].str.lower()

Extract features

In [ ]:
#Extract features

#Initilaise a new dataframe to hold the extracted features
extracted_features=pd.DataFrame()

#Extract the handles
extracted_features["handles"]=tweet_data['cleaned_text'].str.findall(r'@(\w+)')

#Extract emojis

#example of angry face emoji within the dataset
emojis = emoji.distinct_emoji_list(tweet_data['cleaned_text'].iloc[23])
print(emojis)

# Function to extract emojis from a string
def extract_emojis(text):
    if isinstance(text, str):  # Ensure it's a string to avoid errors with non-string types like NaN
        emoji_list = emoji.distinct_emoji_list(text)
        return emoji_list
    return '' # Return empty string for non-string values or if no emojis are found

# Apply the function to the 'text' column to create a new 'emojis' column
extracted_features['emojis'] = tweet_data['cleaned_text'].apply(extract_emojis)

#named entity recognition?
#how to vectorise the rest of the text?

['ðŸ˜¡']

In [ ]:
#Inspect the extracted features dataframe
extracted_features.head()

                     handles emojis
0  [virginamerica, dhepburn]     []
1            [virginamerica]     []
2            [virginamerica]     []
3            [virginamerica]     []
4            [virginamerica]     []

Perform clustering based on features

In [ ]:
#Perform clustering based on features

#use "extracted_features" dataframe

Check accuracy of clustering against dataset "airline_sentiment" column

In [ ]:
#Check accuracy of clustering against dataset "airline_sentiment" column
#Check that the accuracy correlates against the "confidence" column,
# ie. the misrepresented tweets are those that have low confidence scores
# and those that are correct should have high confidence